*{
    margin: 0%;
    padding: 0%;
}

h1,h2,h3{
    color:#1098ad;
    text-transform: inherit;
    line-height: 1.6;

}
footer{
    font-size: 16px;
    text-align: center;
}
body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
    /* position: relative; */
}
.main-header{
    background-color:aliceblue;
    padding:20px  40px;
    margin-bottom: 30px;

}
aside{
    /* border : 5Px  solid #00ddff; */
    border-top: 5px solid#a90d7f;
    border-bottom:5px solid #f016b6;
    width: 500px;
    padding: 50px 0px;
    margin-bottom: 30px;
    background-color: aliceblue;
}
h1{
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
    text-transform: uppercase;
}
p{
    font-size: 10px;
    line-height: 1.5;
   
}

li{
    font-size: 10px;
    margin-bottom: 10px;
}

#author{
    font-size: 12px;
}

#unorder{
   font-size: 12px;
}

.class1{
    font-size: 20px;
    color:  #1098ad;
}

a:visited {
   color: #1098ad;
}

a:hover{
    color: blue;
}

a:active{
    background-color: black;
}

nav a:link {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block; 
}
  
.post-img{
    width: 150px;
    height:  150%;
    margin-bottom: 10px;
}
  .container{
    width: 660px;
    margin:0 auto;
}
 